@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #08233b;
  color: white;
}

.h-image {
  -webkit-mask-image: url("../public/black.png");
  -webkit-mask-position: center;
  -webkit-mask-size: 400px 400px;
  -webkit-mask-repeat: no-repeat;
  z-index: -10;
  /* transform: rotate(-15deg); */
  /* Since I cannot achieve the particular effect I wanted to create, I can make it scroll */
}
